@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin:0px;
}

.myb{
    border:2px solid red;
}

.mynav{
    /* border:1px solid blue; */
    border-radius: 500px;
    
}

.banner{
    background: linear-gradient(180deg, #2F5478 0%, #22405C 100%);

}

